<form action="/products" method="post" autocomplete="off">

  <label for="artist">Artist</label>
  <input id="artist" type="text" name="artist" required><br>

  <label for="title">Title</label>
  <input id="title" type="text" name="title" required><br>

  <label for="genre">Genre</label>
  <select id="genre" name="genre_id" required>
    <% @genres.each do |genre| %>
    <option value="<%= genre.id %>"><%= genre.name %></option>
    <% end %>
  </select><br>

  <label for="record-label">Record Label</label>
  <select id="record-label" name="record_label_id" required>
    <% @record_labels.each do |label| %>
    <option value="<%= label.id %>"><%= label.name %></option>
    <% end %>
  </select><br>

  <label for="year">Year</label>
  <select id="year" name="year_id" required>
    <% @years.each do |year| %>
    <option value="<%= year.id %>"><%= year.year %></option>
    <% end %>
  </select><br>

  <label for="format">Format</label>
  <select id="format" name="format_id" required>
    <% @formats.each do |format| %>
    <option value="<%= format.id %>"><%= format.type %></option>
    <% end %>
  </select><br>

  <label for="cost-price">Cost Price</label>
  <input id="cost-price" type="number" step="0.01" name="cost_price" required min="0"><br>

  <label for="retail-price">Retail Price</label>
  <input id="retail-price" type="number" step="0.01" name="retail_price" required min="0"><br>

  <label for="quantity">Quantity</label>
  <input id="quantity" type="number" name="quantity" min="0"><br>

  <label for="img-url">Album Artwork URL</label>
  <input id="img-url" type="text" name="img_url" required><br>

  <input type="submit" value="Add Product">
</form>
