<table class="flex-item">
  <tr>
    <th class="body">Artist</th>
    <th class="body">Title</th>
    <th class="body">Genre</th>
    <th class="body">Record Label</th>
    <th class="body">Year</th>
    <th class="body">Format</th>
    <th class="body">Cost Price</th>
    <th class="body">Retail Price</th>
    <th class="body">Mark Up</th>
    <th class="body">Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.artist %></td>
    <td><%= product.title %></td>
    <td><a class="table" href="/genres/<%= product.genre_id %>/show"><%= product.genre.name %></td>
      <td><a class="table" href="/record-labels/<%= product.record_label_id %>/show"><%= product.record_label.name %></a></td>
      <td><%= product.year.year %></td>
      <td><%= product.format.type %></td>
      <td class="center"><%= "%.2f" % product.cost_price %></td>
      <td class="center"><%= "%.2f" % product.retail_price %></td>
      <td class="center"><%= "%.2f" % (((product.retail_price) - (product.cost_price)) / (product.cost_price) * 100).round(2) %>%</td>
      <td class="center"><%= product.quantity %></td>
      <td class="warning"><% if product.quantity == 0 %>
        out of stock
        <% elsif product.quantity <= 5 %>
        low stock
        <% else %>
        <% end %>
      </td>
      <td><form action="/products/<%= product.id %>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
    </td>
    <td>
      <form action="/products/<%= product.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </td>
    <td>
      <form action="/products/<%= product.id %>" method="get">
        <input type="submit" value="Details">
      </form>
    </td>
  </tr>
</table>

<div class="container">
  <div class="album-artwork">
    <img class="homepage-img" src="<%= product.img_url %>" alt="">
  </div>
  <div class="details">
    <table>
      <tr>
        <th scope="row">Artist</th>
        <td><%= product.artist %></td>
      </tr>
      <tr>
        <th scope="row">Album</th>
        <td><%= product.title %></td>
      </tr>
      <tr>
        <th scope="row">Genre</th>
        <td><a class="table" href="/genres/<%= product.genre_id %>/show"><%= product.genre.name %></td>
      </tr>
    </table>
  </div>
  <div class="details-buttons">

  </div>
</div>
<% end %>
