<table class="flex-item">
  <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Record Label</th>
      <th>Year</th>
      <th>Format</th>
      <th>Cost Price</th>
      <th>Retail Price</th>
      <th>Mark Up</th>
      <th>Quantity</th>
      <th></th>
  </tr>
    <% @products.each do |product| %>
        <tr>
          <td><%= product.artist %></td>
          <td><%= product.title %></td>
          <td><%= product.record_label.name %></td>
          <td><%= product.year.year %></td>
          <td><%= product.format.type %></td>
          <td><%= product.cost_price %></td>
          <td><%= product.retail_price %></td>
          <td><%= (((product.retail_price) - (product.cost_price)) / (product.cost_price) * 100).round(2) %>%</td>
          <td><%= product.quantity %></td>
          <td><% if product.quantity == 0 %>
            out of stock
            <% elsif product.quantity <= 5 %>
            low stock
            <% else %>
            <% end %>
           </td>
        </tr>
    <% end %>
</table>
